*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1310px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
}

.col-2{
    width: 16.666667%;
}

.col-3{
    width: 25%;
}

.col-5{
    width: 41.666667%;
}

.box-search{
    width: 320px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px;
}
.box-menu{
    width: 70px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px;
}

.box-icon{
    background-color: #bfbfbf;
    width: 40px;
    height: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    position: relative;
}

.abs-icon{
    position: absolute;
    top: 10px;
    left: 12px;
}
.abs-search{
    position: absolute;
    right: 20px;
}

.m-left{
    margin-left: 10px;
}

.m-right{
    margin-right: 20px;
}
.ul{
    list-style: none;
}
.p-header{
    padding: 10px 0px;
}

.header{
    width: 1310px;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 0;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
.p-thheader{
    width: 150px;
    height: 50px;

}

.icon{
    color: white;
    font-size: 35px;
    position: absolute;
}

.box-play{
    background-color: #a7a4a4bc;
    width: 70px;
    height: 70px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    position: absolute;
}

.box-text{
    background-color: #2b5f53;
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    position: absolute;
    border-radius: 50%;
}
.box-chap{
    background-color: #56644e;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0 5px;
    position: absolute;
}

.position{
    position: absolute;
}

.top-10{
    top: 10px;
}

.top-25{
    top: 25px;
}

.top-15{
    top: 15px;
}

.left-10{
    left: 10px;
}
.left-35{
    left: 35px;
}
.left-90{
    left: 90px;
}
.right-10{
    right: 10px;
}

.bottom-10{
    bottom: 10px;
}
.bottom-30{
    bottom: 50px;
}
.bottom-20{
    bottom: 20px;
}
.bottom-25{
    bottom: 25px;
}
.p-th1{
    width: 980px;
    height: 290px;
}

.p-th2{
    width: 320px;
    height: 90px;
}
.p-th3{
    width: 320px;
    height: 180px;
}
.p-th4{
    width: 150px;
}

.p-th5{
    width: 320px;
    height: 180px;
    border-radius: 50px 50px 10px 10px;
}

.p-th6{
    width: 210px;
    height: 315px;
}
.p-th7{
    width: 320px;
    height: 153px;
}
.p-th8{
    width: 210px;
    height: 95px;
}
.d-flex{
    display: flex;
}

.a-center{
    align-items: center;
}

.j-between{
    justify-content: space-between;
}
.j-end{
    justify-content: flex-end;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-10{
    gap: 10px;
}
.m-bottom{
    margin-bottom: 10px;
}

.m-top{
    margin-top: 30px;
}
.margin-top{
    margin-top: 70px;
}

.post-3{
    width: 320px;
}
.text-center{
    text-align: center;
}

.text-20{
    font-size: 20px;
    font-weight: 900;
}
.text-white{
    color: white;
}

.text-16{
    font-size: 18px;
    font-weight: 900;
}

.text-12{
    font-size: 15px;
}
.text-num{
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.play{
    display: none;
}
.post-hover:hover .play{
    display: block;
}

.hover:hover{
    background-color: rgba(255, 255, 255, 0.651);
    cursor: pointer;
}
