img{
    max-width: 100%;
}

.post-content{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.background{
    background-color: #eeeeef;
}
