*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #40a2d5;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #6b6b6b;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;

    padding: 0 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #313131;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.header {
    padding-top: 70px;
    margin-bottom: 148px;
}

.navbar {
    margin-bottom: 118px;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;

    letter-spacing: -0.06em;

    color: #40a2d5;
    text-transform: uppercase;
}

.nav-link {
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.nav-link:not(:first-child) {
    margin-left: 36px;
}

.nav-link.active {
    font-weight: 600;
}

.nav-link:hover::after,
.nav-link.active::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;

    position: absolute;
    bottom: -3px;
    left: calc(50% - 2px);
}

.hero-img {
    top: -20px;
    right: -70px;

    z-index: -1;
}

.hero-img img {
    width: 647px;
    height: 850px;

    border-radius: 10px 10px 10px 300px;
    object-fit: none;
    object-position: -224px 0px;
}

.hero {
    padding-left: 20px;
    max-width: 681px;
}

.hero-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;

    letter-spacing: -0.04em;
    color: #313131;

    margin-bottom: 40px;
}

.hero-text {
    max-width: 541px;
    margin-bottom: 40px;
}

.hero-actions {
    gap: 15px;
    margin-bottom: 112px;
}

.action-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
    width: 214px;
    height: 64px;
    border-radius: 40px 5px;

    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}

.action-link.bg-primary {
    box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259),
        0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407),
        0px 20px 13px rgba(64, 162, 213, 0.05),
        0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593),
        0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);
}

.stats {
    gap: 52px;
}

.count {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;

    color: #313131;
    margin-bottom: 15px;
}

.label {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

.stat-icon {
    z-index: -1;
    top: -14px;
    left: -4px;
}

.vector {
    top: 614px;
    left: -17px;
}

.logo-list {

    width: 1170px;
    height: 180px;
    padding-left: px;
    margin-top: 14px;

    background: #FAFAFA;
    border-radius: 150px;
}

.LOGO {
    padding: 74px 82px;

}

.heading-1 {
    width: 541px;
}

.heading-2 {
    width: 521px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 120%;

    color: #313131;


}

.btn {
    margin-top: 30px;
    padding: 22px 77px;
    background: #40A2D5;
    border-radius: 40px 5px;
    border-style: none;
}

.section-heading {
    margin-top: 140px;
    margin-bottom: 109px;
}



.label {
    width: 76px;
    height: 76px;
    background: #40A2D5;
    border-radius: 5px 38px;
}

.number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #313131;
    width: 73px;
    height: 72px;

}

.number {
    z-index: 1;
    top: -26px;
    right: -26px;
}

.point-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6B6B6B;
    width: 359px;
    height: 84px;
    margin-left: 63px;

}

.point-2 {
    margin-top: 142px;
    margin-bottom: 142px;
}

.header-top {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 56px;
    color: #313131;
    width: 514px;
    height: 56px;
    margin-bottom: 30px;
}

.header-bottom {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    color: #6B6B6B;
    width: 672px;
    height: 56px;
}

.text-center {
    text-align: center;
}

.our-team-header {
    margin-bottom: 80px;
}

.our-team {
    margin-top: 140px;
    margin-bottom: 140px;

}

.avatar-engineer {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 22px;
}

.name-engineer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #313131;
    /* width: 140px; */
    height: 36px;
    margin-bottom: 7px;
}

.job-engineer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #313131;
    margin-bottom: 47px;
}

.phone-engineer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #313131;
    margin-bottom: 8px;
}

.email-engineer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #40A2D5;

}

.engineer {
    width: 362px;
    height: 435px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(198, 217, 225, 0.3);
    border-radius: 5px;
}

.vector {
    padding: 30px
}

.btn-next {
    background: #40A2D5;
    box-shadow: 0px 8px 15px rgba(72, 72, 138, 0.08);
    border-radius: 40px;
    width: 50px;
    height: 50px;
    border-style: none;
}

.btn-prev {
    background: #FFFFFF;
    box-shadow: 0px 8px 15px rgba(72, 72, 138, 0.08);
    border-radius: 40px;
    width: 50px;
    height: 50px;
    border-style: none;

}

.btn-label {
    background: #FFFFFF;
    width: 120px;
    height: 66px;
    border-radius: 65px;
    box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259), 0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407), 0px 20px 13px rgba(64, 162, 213, 0.05), 0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593), 0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);

}

.btn-engineer {
    margin-top: 80px;
}

.message-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 76px;
    /* color: #FAFAFA; */
    width: 515px;
    height: 76px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 176px;

}

.message-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* color: #FAFAFA; */
    width: 857px;
    height: 336px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.quotation {
    width: 91px;
    height: 64px;
    color: #FFFFFF;
    font-size: 91px;
    top: 238px;
    left: 239px;
}

.section-contact {
    margin-top: 140px;
    margin-bottom: 130px;

}

.contact-form {
    width: 489px;
    height: 555px;

}

.label-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

input[type=text] {
    height: 64px;
}

input[placeholder=Maya] {
    font-family: 'Poppins';

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #313131;
    padding-left: 24px;
}

input[type=email] {
    width: 489px;
    height: 64px;
    background: #F9F9F9;
    border-radius: 7px;
    border-style: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #6B6B6B;
    padding-left: 24px;
}

input[name=subject] {
    width: 489px;
    height: 64px;
    background: #F9F9F9;
    border-radius: 7px;
    border-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-left: 24px;
}

input[name=massage] {
    width: 489px;
    height: 200px;
    background: #F9F9F9;
    border-radius: 7px;
    border-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-top: 20px;
    padding-left: 24px;

}

.btn-massage {
    box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259), 0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407), 0px 20px 13px rgba(64, 162, 213, 0.05), 0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593), 0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);
    border-radius: 40px 5px;
    width: 214px;
    height: 64px;
    background: #40A2D5;
    border-style: none;

}

.send {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.5px;

    color: #FAFAFA;

}

.form-name {
    padding-bottom: 20px;
}

.form-email {
    padding-bottom: 20px;
}

.form-subject {
    padding-bottom: 20px;
}

.form-massage {
    padding-bottom: 30px;
}

.contact-map {
    top: 246px;
    right: 40px;
}

.blog-1 {
    margin-right: 60px;
    width: 496px;
    height: 467px;
}

.blog-heading {
    width: 279px;
    height: 34px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;

    bottom: 100px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.blog-sub{
    width: 292px;
height: 23px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;

    bottom: 56px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.btn-blog{
    width: 202px;
height: 65px;
border: 1px solid #FFFFFF;
border-radius: 40px 5px;
bottom: 56px;
left: 0;
right: 0;
margin: 0 auto;
background-color: rgba(255, 255, 255, 0);

}
.read{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
text-align: center;
letter-spacing: -0.5px;

color: #FAFAFA;

}
.blog-heading-2{
     width: 279px;
    height: 34px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;

    bottom: 200px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.blog-sub-2{
    width: 292px;
height: 23px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;

    bottom: 154px;
    margin: 0 auto;
    right: 0;
    left: 0;
}
.section-blogs{
    margin-bottom: 140px;
}
.subscribe-header{
    width: 466px;
height: 112px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 54px;
line-height: 56px;


text-align: center;
text-transform: capitalize;

color: #313131;
}
.subscribe-header-sub{
    width: 556px;
height: 56px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */

text-align: center;

color: #6B6B6B;

}
.btn-subscribe{
    width: 220px;
height: 56px;
background: #40A2D5;
box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259), 0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407), 0px 20px 13px rgba(64, 162, 213, 0.05), 0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593), 0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);
border-radius: 40px 5px;
border-style: none;
}

.text-sub{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FAFAFA;
padding-right: 20px;
}
.icon-sub{
    color: #FFFFFF;
    font-size: 20px;

}

.section-subscribe{
    gap: 40px;
    margin-bottom: 156px;
}

.item-1{
    width: 236px;
height: 192.47px;
margin-right: 179px;

}
.item-headding-1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px;
/* identical to box height */

letter-spacing: -0.06em;

color: #40A2D5;

}
.sub-item{
    ont-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: #6B6B6B;
}
.item-2{
    width: 125px;
height: 216px;
margin-right: 158px;
}
.item-headding{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #313131;

}
.item-3{
    width: 102px;
height: 223px;
margin-right: 156px;
}
.item-4{
    width: 174px;
height: 104px;
}

.mail{
    width: 174px;
height: 40px;
padding: 12px;


background: #FAFAFA;
border-radius: 4px;
}
.text-mail{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height */


color: #6B6B6B;

}

.a-content-center{
    align-content: center;
}