/* .container{
    width: 1200px;
    margin: 0 auto;
    background-color: #f3f3f3f3;
}
.user-list{
    display: flex;
    flex-wrap: wrap;
}
.col-12{

}
.card-item{
    background-color: #ffffff;

} */